<ul>
  <li>
    <h2>JEWISH JURISPRUDENCE: Appreciating the Torah's Unique Justice System</h2>
    <p>HaRav Yochanan Zweig, shlita, Rosh Yeshiva of Talmudic, University of Florida, will provoke and inspire on the topic of Jewish jurisprudence motzaei Shabbos Mishpatim.</p>
    <p><strong>Date: </strong>Saturday, February 6, 2016</p>
    <p><strong>Time: </strong>8:30 PM</p>
    <a href="assets/pdf/KollelAd_JWL2015.pdf" target="_blank"><small>...more details</small></a>
  </li>
  <li>
    <h2>WOMEN'S WEEKLY Parshah Class</h2>
    <p>Rabbi Yosef Eisen will give an overview of each week's parshah and discuss some of the major themes of each week.</p>
    <p><strong>Date: </strong>Tuesday Mornings, beginning January 19, 2016</p>
    <p><strong>Time: </strong>9:30 AM</p>
    <a href="assets/pdf/KollelAd_JWL2015.pdf" target="_blank"><small>...more details</small></a>
  </li>
</ul>