<h2>The Kollel Jewish Learning Center offers Torah classes for every interest!</h2>
<ul>
  <li>Text-Based Study Groups</li>
  <li>One-On-One Learning</li>
  <li>Women’s Summer Learning Program</li>
  <li>Kollel Konnections Men’s Program</li>
  <li>Open Bais Medrash and Library Stocked with Hebrew and English Seforim</li>
  <li>Mishnah On Campus</li>
  <li>Yom Tov Themed Lectures</li>
  <li>Legal Holiday Learning</li>
  <li>Plus Much, Much More!</li>
</ul>

<p>Let us match you up with one of our scholars for one-on-one learning – at no charge!</p>

<p>Create Your Own Class! We will arrange a teacher for any group of six or more people in the Torah topic of their choice.</p>

<p>For more information or to add yourself to our email list contact:</p>

<p>
Rabbi Avrohom Rodkin, Director of Education<br>
412-420-0220 ext. 208 or arodkin@kollelpgh.org
</p>

